* {
    margin: 0;
    padding: 0;
    list-style: none;
}


header{
    position:relative;
    margin: 30px auto;
    width: 1200px;
    height: 100px;
    background: rgb(10, 10, 10);
    
}
#logo {
    position:static;
    top:100 px;
    left: 1200px;
    width: 700px;
    height: 40px;
    background: rgb(223, 104, 6);
}

nav {
    position: relative;
    margin: auto;
    width: 1000px;
    height: 48px;
    
}
.botones{
      float:left;
      width: 196px;
      margin: 0px 2px;
      height: 48 px;
      background: white;
     
}


#top{
    position:relative;
    float:inline-start;
    width: 1100px;
    height:200px;

}
#top ul li{
    position:relative;
    float: left;
    width: 400px;
    height: 400px;
    background: rgb(235, 240, 235);
    margin-right: 5px;
    text-align:center;
    
}
#top ul li img{
    border-radius: 80%;
    height: 150px;
}
#top ul li h1 {
     font-family: 'kaushan Script', cursive;
}
#top ul li p{
    font-size: 30px;
    margin: 100px;
}
section{
    position: relative;
    width: 1200px;
    height: 1400px;
    background: rgb(236, 136, 5) ;
    }
    section ul p{
        background: white;
    }
section ul video{
    position: relative;
    float:inline-start;
    width: 1000px;
    height: 300px;
}  
section ul p video{
    position: relative;
    margin: 30px;
    float:inline-start;
    width: 500px;
    height: 300px;
    
}  

section h3{
    position:relative;
    margin: 30px;
    float:left;
    height: 10px;
}
section em{
    position:relative;
    margin: 30px;
    float:left;
    height: 10px;
}

footer h2{
    position:relative;
    float:left;
    background-color: rgb(245, 134, 7);
}
footer h3{
    position:relative;
    float:left;
}

footer p{
    position:relative;
    float:left;
    background-color: rgb(243, 38, 11);
}
